/*https://mdbootstrap.com/docs/standard/forms/overview/*/

/* ========== */
.teste{
border: 1px solid red;
}

.cabeçalho-item{
    font-size: 12px;
}

/* Botão Flutuante */
.flutu-novo{
    position: fixed;
    bottom:10px;
    right:10px;
}
.btn-flutu-novo{
    font-family: sans-serif;
	border-radius: 50px;
    border: none;
}
.btn-flutu-icon{
    font-size: 45px;
    color: #1f06ac;
}



/* Status Chamados Cores */
.fonte-white{
    color: white;
}
.fonte-black{
    color: black;
}

body{
    background-color: #F8F9FA;
}

#filtro-box{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 20px;
}

#tabela-box{
    width: 100%;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 20px;
}

#filtro-box-esqueda{
    max-width: 500px;
    height: 100%;
    display: flex;
    float: right;
}

#button-filtro-buscar{
    background-color: #1f06ac !important;
}

#btn-buscar{
    margin-top: 10px;
    margin-right: 10px;
    align-self: center;
}

/*Novo Chamado*/
#novo-chamado-titulo{
    text-align: center;
    font-size: 15px;
    font-family:'Roboto', Roboto, sans-serif;
    margin-bottom: 25px;
}

#select-prioridade{
    font-size: 13px;
    padding-left: 10px;
}

.select-font{
    font-size: 13px;
    padding-left: 10px;
    font-family:'Roboto', Roboto, sans-serif;
}

.form-border{
    border: 1px solid rgba(12, 96, 221, 0.726);
}

#modal-btn-box{
    display: flex;
    float: right;
    margin-top: 15px;
}



/*Cores*/

.bg-emanalise{
    --bs-bg-opacity: 1;
    background-color: rgb(255, 94, 0) !important;
}

.bg-aguardandoatt{
    --bs-bg-opacity: 1;
    background-color: rgb(255, 153, 0) !important;
}

.bg-concluido{
    --bs-bg-opacity: 1;
    background-color: rgba(235, 227, 227, 0.438) !important;
}

.bg-aguardandocliente{
    --bs-bg-opacity: 1;
    background-color: rgb(0, 132, 255) !important;
}

.bg-novo{
    --bs-bg-opacity: 1;
    background-color: rgb(134, 144, 145) !important;
}

.td-icon{
    color:#1f06ac;
    font-size: 15px;
}

.td-icon-btn{
    background-color: transparent;
    border: none;
}

.td-icon-btn:hover , .td-icon-btn:active, .td-icon-btn:visited {
    border: none;
}

.teste{
    color: #3413f0;
    color: #00abdf;
}
